* {
	font-size: 12px;
	font-family: Helvetica;
	margin: 0px;
}

body {
	background-image: url('images/bg_gradient.jpg');
	background-repeat: repeat-x;
	background-color: #ffcc66;
}

img.user
{
    width: 30px; 
    height: 30px;
    vertical-align: top; 
}

table.tweets
{
padding-bottom: 40px;
}

h1 {

	color: #f2aa39;
	font-size: 24px;
}

h2 {

	color: #f2aa39;
	font-size: 18px;
}

h3 {
	margin: 3px;
	color: #d38632;
	font-size: 12px;
	font-style: bold;
}
.centered {
	padding: auto;
	margin: auto;
}

.left {
	margin: 5px;
	float: left;
}

.right {
	margin: 5px;
	float: right;
}

.searchbox {
	padding: 5px;
	width: 500px;
	height: 30px;
	font-size: 14px;
	color: #999999;
	font-style: italic;
	border-style: solid;
	border-width: 1px;
	border-color: #ff9900;
}

.searchbutton {
	padding: 5px;
	width: 120px;
	height: 30px;
	color: #cc6600;
	border-style: solid;
	border-width: 1px;
	border-color: #ff9900;
	background-color: #ffdb6e;
}

.categorybutton {
	padding: 5px;
	width: 80px;
	height: 30px;
	color: #cc6600;
	border-style: solid;
	border-width: 1px;
	border-color: #ff9900;
	background-color: #ffdb6e;
}

.selectedbtn {
    padding: 5px;
	width: 80px;
	height: 30px;
	color: #cc6600;
	border-style: solid;
	border-width: 1px;
	border-color: #ff9900;
	background-color: #fef6db;
}

#top_search {
	margin-top: 10px;
    margin-left: 20px;
}

#main_box {
	width: 700px;
	margin: auto;
	-moz-box-shadow: 10px 10px 5px #996633; /* Firefox */
	-webkit-box-shadow: 10px 10px 5px #996633; /* Safari and Chrome */
	box-shadow: 10px 10px 5px #996633;
	background-color: #ffff66;
}

#top_bar {
	width: 700px;
	height: 45px;
	margin: auto;
	background-image: url('images/topbar.png');
	background-repeat: no-repeat;
}

#main_content {
	padding: 15px;
}

#footer {
	padding: 10px;
	color: #704b22;
	border-top-width: 3px;
	border-top-color: #d38632;
	border-top-style: solid;
	background-color: #41270a;
}

#meow {
	width: 220px;
	height: 380px;
	clear: left;
	float: left;
	background-image: url('images/bg_cat.png');
	background-repeat: no-repeat;
}

.tabletweet {   
    padding: 5px;
}



